.post-details {
  padding: 10px;
  margin-top: 10px;
  background: #fff;
  border: 1px solid #c5c5c5;
  border-radius: 10px;
}

.post-details h4 {
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 16px;
  text-align: left;
}

